
/* 部门介绍 */
    .grid {
        position: relative;
        clear: both;
        margin: 0 auto;
        padding: 1em 0 4em;
        max-width: 1000px;
        list-style: none;
        text-align: center;
    }
    
    /* Common style */
    .grid figure {
        position: relative;
        overflow: hidden;
        margin: 10px auto;
        min-width: 320px;
        max-width: 480px;
        max-height: 360px;
        height: auto;
        background: #3085a3;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        text-align: center;
        cursor: pointer;
    }
    @media screen and (max-width: 950px) {
        .grid figure {
            width: 100%;
            margin: 10px auto;
        }
    }
    @media screen and (min-width: 950px) {
        .grid figure {
            width: 55%;
            margin: 10px 0;
            float: left; 
        }
    }
    
    .grid figure img {
        position: relative;
        display: block;
        min-height: 100%;
        width: 100%;
        opacity: 0.8;
    }
    
    .grid figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }
    
    .grid figure figcaption,
    .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* apollo */
                    
    figure.effect-apollo {
        background: #3498db;
    }

    figure.effect-apollo img {
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
    }

    figure.effect-apollo figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }

    figure.effect-apollo p {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 3em;
        padding: 0 1em;
        max-width: 150px;
        border-right: 4px solid #fff;
        text-align: right;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figure.effect-apollo h2 {
        text-align: left;
    }

    figure.effect-apollo:hover img {
        opacity: 0.6;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    figure.effect-apollo:hover figcaption::before {
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    }

    figure.effect-apollo:hover p {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
/* 社员介绍 */ 
.single-member{
  width: 280px; 
  float: left; 
  font-family: sans-sarif; 
  margin: 30px 2.5%; 
  background-color: #fff; 
  text-align: center; 
  position: relative;
}
.member-image img{
  max-width: 100%; 
  vertical-align: middle;
}
h3 {
  font-size: 24px; 
  font-weight: normal; 
  margin: 10px 0 0; 
  text-transform: uppercase;
}
h5 {
  font-size: 16px; 
  font-weight: 300; 
  margin: 0 0 15px; 
  line-height: 22px;
}
p {font-size: 14px; 
  font-weight: 300; 
  line-height: 22px; 
  padding: 0 30px; 
  margin-bottom: 10px;
}
.social-touch a{
  display: inline-block; 
  width: 27px; 
  height: 26px; 
  vertical-align: middle; 
  margin: 0 2px; 
  background-image: url(images/social-icons.png); 
  background-repeat: no-repeat; 
  opacity: 0.7; 
  transition: 0.3s;
}
.social-touch a:hover{
  opacity: 1; 
  transition: 0.3s;
}
.effect-1{border-radius: 5px 5px 0 0; padding-bottom: 40px;}
.effect-1 .member-image {border: 2px solid #fff; border-radius: 60px 0; display: inline-block; margin-top: -72px; overflow: hidden; transition: 0.3s;}
.effect-1 .social-touch{ position: absolute; left: 0; bottom: 0; height: 5px; overflow: hidden; padding: 5px 0 0; width: 100%; transition: 0.3s;}
.effect-1 .member-image img{transition: 0.3s; border-radius: 60px 0;}
.effect-1:hover .member-image{transition: 0.3s; border-radius: 50%;}
.effect-1:hover .social-touch{padding: 6px 0; height: 38px; transition: 0.3s;}

.effect-bgc-1 .social-touch{background-color: #ff4893;}
.effect-bgc-1:hover .member-image{border-color: #f553b7;}
.effect-bgc-2 .social-touch{background-color: #facd39;}
.effect-bgc-2:hover .member-image{border-color: #f7dc31;}
.effect-bgc-3 .social-touch{background-color: #3cdb74;}
.effect-bgc-3:hover .member-image{border-color: #64e291;}

/* 影评 */    
.filmReview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .app {
    position: relative;
    min-width: 12.24rem; 
    height: 7.77rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
  }
/*----------影评移动端适配 ---------------------*/
  @media screen and (max-width: 768px){
    .filmReview {
      position: relative;
      flex-direction: column;
    }
    .app{
      min-width: 18.96rem; 
      height: 25rem;
    }
    .filmReview-title{
      display: flex;
      flex-direction: row;
      margin-bottom:20px;
    }
    .filmReview .app .app__img img{
      width: 100%;
      height: 400%;
    }
    .pages__list{
      display: flex;
      flex-direction: row;
      margin-top:20px;
    }
    .pages__item{
      margin-right:15px;
    }
    .filmReview .app .app__text--2 {
      left: 2rem;
      top: 15rem;
    }
   }
   @media screen and (max-width: 414px){
    .filmReview .app .app__img img{
      width: 100%;
      height: 480%;
    }
    .app__text .app__text-line--4 {
      font-size: 1.5rem;
    }
    .app__text .app__text-line--3 {
      font-size: 1.2rem;
    }
    .filmReview .app .app__text--2 {
      left: 2rem;
      top: 15rem;
    }
  }
/* pc端 */
  .app__bgimg {
    position: absolute;
    top: 0;
    left: -2.5%;
    width: 105%;
    height: 100%;
    transition: -webkit-transform 3.5s 770ms;
    transition: transform 3.5s 770ms;
    transition: transform 3.5s 770ms, -webkit-transform 3.5s 770ms;
  }
  .app__bgimg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .app__bgimg-image--1 {
      background-repeat: no-repeat;
      background-position: center center no-repeat;
      background-image: url(../asserts/FilmReview1.jpg);
      background-size: cover;
  }
  .app__bgimg-image--2 {
    background: url("../asserts/FilmReview2.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0ms 1300ms;
    will-change: opacity;
  }
  .app__text {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    z-index: 1;
  }
  .app__text-line {
    transition: opacity 750ms 500ms, -webkit-transform 1500ms 400ms;
    transition: transform 1500ms 400ms, opacity 750ms 500ms;
    transition: transform 1500ms 400ms, opacity 750ms 500ms, -webkit-transform 1500ms 400ms;
    will-change: transform, opacity;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .app__text-line--4 {
    transition: opacity 1500ms 1500ms, -webkit-transform 1500ms 1500ms;
    transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
    transition: transform 1500ms 1500ms, opacity 1500ms 1500ms, -webkit-transform 1500ms 1500ms;
  }
  .app__text-line--3 {
    transition: opacity 1500ms 1750ms, -webkit-transform 1500ms 1600ms;
    transition: transform 1500ms 1600ms, opacity 1500ms 1750ms;
    transition: transform 1500ms 1600ms, opacity 1500ms 1750ms, -webkit-transform 1500ms 1600ms;
  }
  .app__text-line--2 {
    transition: opacity 1500ms 2000ms, -webkit-transform 1500ms 1700ms;
    transition: transform 1500ms 1700ms, opacity 1500ms 2000ms;
    transition: transform 1500ms 1700ms, opacity 1500ms 2000ms, -webkit-transform 1500ms 1700ms;
  }
  .app__text-line--4 {
    font-size: 1rem;
    font-weight: 700;
    color: #0A101D;
  }
  .app__text-line--3 {
    font-size: 0.5rem;
    font-weight: 300;
  }
  .app__text-line--2 {
    margin-top: 0.2rem;
    font-size: 0.2rem;
    font-weight: 500;
    color: #0099CC;
  }
  .app__text--1 .app__text-line {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    opacity: 0;
  }
  .app__text--2 {
    right: initial;
    left: 2rem;
    top: 5rem;
    z-index: -1;
    transition: z-index 1500ms;
  }
  .app__text--2 .app__text-line--4 {
    opacity: 0;
    transition: opacity 400ms 125ms, -webkit-transform 1500ms -75ms;
    transition: transform 1500ms -75ms, opacity 400ms 125ms;
    transition: transform 1500ms -75ms, opacity 400ms 125ms, -webkit-transform 1500ms -75ms;
  }
  .app__text--2 .app__text-line--3 {
    opacity: 0;
    transition: opacity 400ms 200ms, -webkit-transform 1500ms 0ms;
    transition: transform 1500ms 0ms, opacity 400ms 200ms;
    transition: transform 1500ms 0ms, opacity 400ms 200ms, -webkit-transform 1500ms 0ms;
  }
  .app__text--2 .app__text-line--2 {
    opacity: 0;
    transition: opacity 400ms 275ms, -webkit-transform 1500ms 75ms;
    transition: transform 1500ms 75ms, opacity 400ms 275ms;
    transition: transform 1500ms 75ms, opacity 400ms 275ms, -webkit-transform 1500ms 75ms;
  }
  .app__img {
    position: absolute;
    -webkit-transform: translate3d(0, -750px, 0);
            transform: translate3d(0, -750px, 0);
    width: 105%;
    height: 100%;
    transition: -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02), -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    will-change: transform;
  }
  .app__img img {
    min-width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .initial .app__img {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .initial .app__text--1 .app__text-line--2 {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: opacity 400ms 1675ms, -webkit-transform 1500ms 1475ms;
    transition: transform 1500ms 1475ms, opacity 400ms 1675ms;
    transition: transform 1500ms 1475ms, opacity 400ms 1675ms, -webkit-transform 1500ms 1475ms;
    opacity: 1;
  }
  .initial .app__text--1 .app__text-line--3 {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: opacity 400ms 1750ms, -webkit-transform 1500ms 1550ms;
    transition: transform 1500ms 1550ms, opacity 400ms 1750ms;
    transition: transform 1500ms 1550ms, opacity 400ms 1750ms, -webkit-transform 1500ms 1550ms;
    opacity: 1;
  }
  .initial .app__text--1 .app__text-line--4 {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: opacity 400ms 1825ms, -webkit-transform 1500ms 1625ms;
    transition: transform 1500ms 1625ms, opacity 400ms 1825ms;
    transition: transform 1500ms 1625ms, opacity 400ms 1825ms, -webkit-transform 1500ms 1625ms;
    opacity: 1;
  }
  
  .active .app__bgimg {
    -webkit-transform: translate3d(10px, 0, 0) scale(1.05);
            transform: translate3d(10px, 0, 0) scale(1.05);
    transition: -webkit-transform 5s 850ms ease-in-out;
    transition: transform 5s 850ms ease-in-out;
    transition: transform 5s 850ms ease-in-out, -webkit-transform 5s 850ms ease-in-out;
  }
  .active .app__bgimg .app__bgimg-image--2 {
    opacity: 1;
    transition: opacity 0ms 1500ms;
  }
  .active .app__img {
    transition: -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02), -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    -webkit-transform: translate3d(0, -1410px, 0);
            transform: translate3d(0, -1410px, 0);
  }
  .active .app__text--1 {
    z-index: -1;
    transition: z-index 0ms 1500ms;
  }

  .active .app__text--1 .app__text-line--2 {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    transition: opacity 400ms 575ms, -webkit-transform 1500ms 375ms;
    transition: transform 1500ms 375ms, opacity 400ms 575ms;
    transition: transform 1500ms 375ms, opacity 400ms 575ms, -webkit-transform 1500ms 375ms;
    opacity: 0;
  }
  .active .app__text--1 .app__text-line--3 {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    transition: opacity 400ms 650ms, -webkit-transform 1500ms 450ms;
    transition: transform 1500ms 450ms, opacity 400ms 650ms;
    transition: transform 1500ms 450ms, opacity 400ms 650ms, -webkit-transform 1500ms 450ms;
    opacity: 0;
  }
  .active .app__text--1 .app__text-line--4 {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    transition: opacity 400ms 725ms, -webkit-transform 1500ms 525ms;
    transition: transform 1500ms 525ms, opacity 400ms 725ms;
    transition: transform 1500ms 525ms, opacity 400ms 725ms, -webkit-transform 1500ms 525ms;
    opacity: 0;
  }
  .active .app__text--2 {
    z-index: 1;
  }

  .active .app__text--2 .app__text-line--2 {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    transition: opacity 1300ms 1575ms, -webkit-transform 2500ms 1175ms;
    transition: transform 2500ms 1175ms, opacity 1300ms 1575ms;
    transition: transform 2500ms 1175ms, opacity 1300ms 1575ms, -webkit-transform 2500ms 1175ms;
    opacity: 1;
  }
  .active .app__text--2 .app__text-line--3 {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    transition: opacity 1300ms 1850ms, -webkit-transform 2500ms 1250ms;
    transition: transform 2500ms 1250ms, opacity 1300ms 1850ms;
    transition: transform 2500ms 1250ms, opacity 1300ms 1850ms, -webkit-transform 2500ms 1250ms;
    opacity: 1;
  }
  .active .app__text--2 .app__text-line--4 {
    -webkit-transform: translate3d(0, -125px, 0);
            transform: translate3d(0, -125px, 0);
    transition: opacity 1300ms 2125ms, -webkit-transform 2500ms 1325ms;
    transition: transform 2500ms 1325ms, opacity 1300ms 2125ms;
    transition: transform 2500ms 1325ms, opacity 1300ms 2125ms, -webkit-transform 2500ms 1325ms;
    opacity: 1;
  }
  
  .filmReview-title {
    margin-right:1rem;
  }
  .pages {
    margin-left: 20px;
  }
  .pages__list {
    list-style-type: none;
  }
  .pages__item {
    position: relative;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
  }
  .pages__item:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
            transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: 500ms;
  }
  .pages__item:hover:after {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  
  .page__item-active:after {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  /* 详情 */
  .app__content{
     position: absolute;
     background-color: rgba(0, 0, 0, 0.5);
     color:white;
  }
  .app__content p{
    text-indent: 0.5rem;
  }