body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

* {
  color: white;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.intro-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333938;
  z-index: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  overflow: hidden;
  opacity: 1;
}
.intro-title {
  color: white;
  font-size: 48px;
  font-family: 'Oranienbaum', serif;
  font-weight: 200;
}
.intro-title span {
  opacity: 0.1;
  font-family: 'Oranienbaum', serif;
  font-weight: 200;
}
.intro-title span:nth-child(2n+1) {
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.intro-title span:nth-child(2n) {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.square {
  background: #d78a0b;
  width: 250px;
  height: 250px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery-background {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery-title {
  color: white;
  text-align: center;
  font-size: 84px;
  margin: 0;
  margin-bottom: 0.3em;
  font-weight: 200;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  opacity: 0;
  font-family: 'Oranienbaum', serif;
}
.gallery-subtitle {
  color: white;
  text-align: center;
  font-size: 21px;
  margin: 0;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  opacity: 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.gallery-content {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.gallery-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gallery-content-wrapper.enter .gallery-title {
  opacity: 1;
  transition: all 400ms ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition-delay: 300ms;
}
.gallery-content-wrapper.enter .gallery-subtitle {
  opacity: 1;
  transition: all 400ms ease-in-out;
  transition-delay: 400ms;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery-content-wrapper.leave .gallery-title {
  transition: all 400ms ease-in-out;
  transition-delay: 100ms;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}
.gallery-content-wrapper.leave .gallery-subtitle {
  transition: all 400ms ease-in-out;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

* {
  box-sizing: border-box;
}

.image {
  width: 100vw;
  height: 100vh;
  background-image: url("https://picsum.photos/id/973/1962/873");
  background-size: cover;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.bottom, .top {
  position: absolute;
  top: 0;
  left: 0;
}

.image-clip {
  -webkit-clip-path: polygon(0 40%, 0 100%, 0 100%, 0 40%);
          clip-path: polygon(0 40%, 0 100%, 0 100%, 0 40%);
}

.top {
  -webkit-clip-path: polygon(0 0, 0 40%, 0 40%, 0 0);
          clip-path: polygon(0 0, 0 40%, 0 40%, 0 0);
}

.bottom {
  -webkit-clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
          clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.img-2 {
  background-image: url("https://picsum.photos/id/972/1962/873");
}

.img-3 {
  background-image: url("https://picsum.photos/id/973/1962/8730");
}

.slider-ldn {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 500;
  margin-left: 80px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
}
.slider-ldn span {
  display: inline-block;
  opacity: 0;
}
.slider-ldn h1 {
  text-transform: uppercase;
  letter-spacing: 0.35em;
  font-size: 52px;
  -webkit-transform: translateX(-50%) rotate(-90deg) translateY(50%);
          transform: translateX(-50%) rotate(-90deg) translateY(50%);
  margin: 0;
  line-height: 0.8em;
}

.slider-nyc {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 500;
  margin-right: 80px;
  font-family: 'Oswald', sans-serif;
}
.slider-nyc span {
  display: inline-block;
  opacity: 0;
}
.slider-nyc h1 {
  text-transform: uppercase;
  letter-spacing: 0.35em;
  font-size: 52px;
  -webkit-transform: translateX(50%) rotate(90deg) translateY(50%);
          transform: translateX(50%) rotate(90deg) translateY(50%);
  margin: 0;
  line-height: 0.8em;
}

.slider-shop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0;
}
.slider-shop h1 {
  font-family: 'Oranienbaum', serif;
  letter-spacing: 0em;
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
  margin: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  padding: 2em 80px;
}
.nav-logo {
  margin: 0;
  font-family: serif;
  font-size: 48px;
  font-style: italic;
  color: white;
  opacity: 0;
  font-family: 'Oranienbaum', serif;
  font-weight: 200;
}

ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding-right: 2em;
}
li:last-of-type {
  padding-right: 0;
}

.nav-links, .nav-lang {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
  display: inline-flex;
  top: 0;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 21px;
  height: 100%;
}
.nav-links li, .nav-lang li {
  opacity: 0;
  font-weight: 400;
}

.nav-links {
  padding-left: inherit;
  left: 0;
}

.nav-lang {
  padding-right: inherit;
  right: 0;
}

@media (max-width: 800px) {
  .nav-links, .nav-lang, .slider-nyc, .slider-ldn {
    display: none;
  }
}
